<h1>Portfolio Items</h1>

<%=link_to "New Item", new_portfolio_url %>
<% @portfolio_items.each do |item| %>
  <p><%= item.title %></p>
  <p><%= item.subtitle %></p>
  <p><%= item.body %></p>
  <%= image_tag item.thumb_image if item.thumb_image %>
  <%= link_to "Edit", edit_portfolio_url(item.id) %>
  <%= link_to "View", portfolio_url(item.id) %>
<% end %>
