<%= image_tag @portfolio.main_image if @portfolio.main_image %>

<h1><%= @portfolio.title %></h1>

<h3><%= @portfolio.subtitle %><h3>

<p><%= @portfolio.body %><p>

<%= link_to "Edit", edit_portfolio_url(@portfolio.id) %>

<%= link_to "Back", portfolios_url(@portfolio.id) %>
